

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
.wrap-buttons {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}
.wrap-buttons button {
    background: transparent;
    cursor: pointer;
    border: none;
}
.wrap-buttons button:first-of-type {
    color: #1878b8;
}
.wrap-buttons button:last-of-type {
    color: #f44336;
}
.alert {
    display: block;
    width: 100%;
    margin: 10px auto;
}